* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}

body {
    background-color: #ccc;
}

.call-links {
    z-index: 3;
    left: 3%;
    top: 80%;
    position: fixed;
}

.call-div img {
    width: 50px;
    cursor: pointer;
}

.call img {
    width: 30px;
}

.links-img {
    width: 20px;
}



.sec-link {
    position: absolute;
    opacity: 0;
    transition: 0.2s linear;
}

.first-link {
    position: absolute;
    opacity: 0;
    transition: 0.2s linear;

}

.showfirstlink {
    opacity: 1;
    margin-top: -62px;
    transition: 0.2s linear;
}


.showseclink {
    opacity: 1;
    margin-top: -41px;
    margin-left: 67px;
    transition: 0.2s linear;

}

.thried-link {
    position: absolute;
    opacity: 0;
}

.showthridelink {
    margin-top: 54px;
    opacity: 1;
    transition: 0.2s linear;
}

.links {
    top: -100px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.call-div {
    position: relative;
}

/* cta button code  */
.ctalinks-box {

    width: fit-content;
    position: fixed;
    bottom: 30px;
    left: 25px;
    z-index: 33;
    cursor: pointer;
}

.ctalink {
    width: 50px;
}

.sub-ctalink {
    width: 25px;
}

.sub-ctalinks-box {
    position: relative;
    display: none;
    opacity: 0;
    transition: 0.2s linear;
}

.sub-ctalink {
    transition: 0.2s linear;
    position: absolute;
}


.sub-ctalink1 {
    top: -7rem;
}

.sub-ctalink2 {
    top: -6rem;
    left: 3rem;

}

.sub-ctalink3 {
    left: 4rem;
    bottom: 9px;
}

.logo {
    color: #fff !important;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
}


.nav-link {
    color: #fff !important;
    font-size: 25px;
}

.business {
    padding: 15px 30px;
    background-color: red;
    border-radius: 15px;
}

.my-nav-bar {
    z-index: 33;
    position: absolute;
}

.banner-sectoion {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    text-transform: capitalize;
}

.banner-overly {
    width: 100%;
    height: 100%;

    background-color: black;
    opacity: 0.5;
}


.banner-tittle {

    position: absolute;
    top: 190px;
    left: 113px;
    color: white;
    text-transform: capitalize;
}

.banner-tittle h3 {
    font-size: 50px;

}

.licons {
    width: 40px;
}

.searbar-section {
    margin-top: 20px;
    width: 550px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-radius: 35px;
}

::placeholder {

    font-size: 22px;
    font-weight: 400;
    text-transform: capitalize;
}

.location span {
    color: gray;
    font-size: 20px;
}

input[type="search"] {

    border: 1px solid gray;
    padding: 8px;
    border-radius: 8px;
    outline: none;
    width: 100%;
    border: none;
}

.searbtn button {
    letter-spacing: 3px;
    font-size: 23px;
    font-weight: 600;
    background-color: blue;
    color: white;
    border: none;
    outline: none;
    padding: 10px 25px;
    border-radius: 15px;
}

/*  */

.categories-section {
    width: 100%;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.categories-box {
    display: flex;
    align-items: center;
    gap: 20px;
}

.categories-img {
    width: 50px;
}

.categories {
    width: 250px;
    height: 100px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
}

.categories-img img {
    width: 50px;
}

.categories-title span {
    font-size: 20px;
    font-weight: 600;
}

.aboutas-section {

    margin-top: 60px;
}

/* media query code  */
@media (max-width:750px) {
    .searbar-section {
        margin-left: -22px;
        flex-direction: column;
    }

    .location {
        margin: 20px 0;
    }

    .searchbar {

        margin: 20px 0;

    }



}